@model WebScraperApp.Models._IndexSearchResultsPartialViewModel

@if (Model.SearchResults.Any())
{

    <div class="mb-1">Found @Model.SearchResults.Count results:
    </div>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Engine</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.SearchResults)
            {
                <tr>
                    <td>@item.SearchEngine</td>
                    <td class="js-search-result-text">@item.ResultText</td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <p>No results could be found.</p>
}