@{
    ViewBag.Title = "About";
}
<div class="row mt-3">
    <div class="col-md-12">
        <h1>@ViewBag.Title.</h1>
    </div>
</div>

<p>
    I am a web scraper. I search DuckDuckGo and Google for a word or phrase that you have entered and return to you
    only the results that include it. You're welcome!
</p>
